.hp-container {
    display: block;
}

#hp-cta a{
    font-size: 4rem;
    color: rgb(0, 0, 0);
    font-weight: 300;
    box-shadow: 10px 0px 500px 0px rgb(78, 90, 122);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgb(233, 103, 211);
    border-top: 3px solid black;
    text-decoration: none;
    width: 50%;
    transition: background-color 0.3s ease-in-out;

}

#hp-cta a:hover {
    background-color: rgb(252, 54, 202);
    transition: background-color 0.3s ease-in-out;
}


#hp-title h1,
#af-text-wrapper h1 {
    font-size: 10rem;
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 2px rgb(241, 90, 229), 0 0 1em rgb(132, 132, 151), 0 0 0.2em rgb(255, 0, 191);

}


#af-text-wrapper h1 {
    text-shadow: 1px 1px 2px rgb(241, 90, 229), 0 0 1em rgb(132, 132, 151), 0 0 0.2em rgb(255, 0, 191);
}

#hp-headline{
    font-size: 3rem;
    color: black;

}

#hp-subheadline {
    color: black;
    font-style: italic;
    margin-bottom: 1rem;
}

.hp-top-container,
#af-text-wrapper {
    background-color: #ec80c8;
    border-top: 4px solid rgb(255, 3, 255);

}
#hp-headline,
#hp-subheadline {
    margin-left: 2rem;


}


#hp-cta {
    display:flex;
    align-items: start;
    flex-direction: column;
}

.problem-container {
    box-shadow: 0px 3px 40px 60px black;
}

.problem-container,
.guide-container,
.achieve-container,
.avoid-fail-container
 {
    display: grid;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);


}

#collage-image {
    width: 90%;
    margin: auto;
}

#problem-text-wrapper,
#guide-text-wrapper,
#plan-text-wrapper,
#achieve-text-wrapper
 {

    border-top: 4px solid rgb(255, 3, 255);
    background-color: rgb(0, 0, 0);
    padding: 1rem;


}

#problem-text-wrapper h1,
#guide-text-wrapper h1,
#plan-text-wrapper h1,
#achieve-text-wrapper h1

 {
    color: white;
    font-size: 3rem;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(139, 52, 120), 0 0 0.2em rgb(255, 0, 191);

}



#problem-text-wrapper p,
#guide-text-wrapper p,
#plan-text-wrapper p,
#achieve-text-wrapper p

 {
    color: rgb(245, 235, 235);
    padding: 1rem;
}

#guide-text-wrapper h2,
#plan-text-wrapper h2

 {
    font-size: 2rem;
    color: rgb(233, 103, 211);

}

.guide-video-container {
    display: grid;
    gap: 3rem;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 0, 0);

}

.guide-video-container iframe {
    margin: 0 auto;
}

#af-text-wrapper p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-bottom: 1rem;
    font-weight: bold;
    font-style: italic;

}




#achieve-text-wrapper {

    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    text-align: center;
}

#achieve-text-wrapper p
 {
    color: rgb(245, 235, 235);
    padding: 1rem;
    font-weight: bold;


}
#achieve-text-wrapper h2
{
    font-size: 2rem;
    color: white;
}

.plan-container {
    display: grid;
    text-align: center;


}

#plan-cta {

    background-color: rgb(233, 103, 211);
    border-radius: 50px;
    border: 3px solid black;
    box-shadow: 0px 3px 50px 0px rgb(61, 0, 56);
    width: 50%;
    cursor: pointer;
    margin: 0 auto;
    padding: 1rem;

}

#plan-cta a {
    text-decoration: none;
    text-shadow: 1px 1px 2px rgb(241, 90, 229), 0 0 1em rgb(132, 132, 151), 0 0 0.2em rgb(255, 0, 191);
    font-weight: 400;
    font-size: 2rem;
    color: white;

}

@media screen and (max-width: 768px) {
.hp-container {
    display: inline;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

#hp-cta {
   width: 100%;
   padding: 10px;
}


#hp-title h1
 {
    font-size: 8rem;
}

#cta-lower-text {
    display: grid;
    width: 100%;


}

#hp-cta a {
    border: 3px solid black;
    border-radius: 50px;
    font-size: 3rem;
    width: 100%;
    margin-bottom: 1rem;


}

#hp-headline,
#hp-subheadline {
    margin-left: 0;

}

#hp-headline {
    font-size: 2rem;
}

.problem-container,
.guide-container,
.achieve-container,
.avoid-fail-container
 {
    display: inline;
    box-shadow: none;
}

#problem-text-wrapper,
#guide-text-wrapper,
#plan-text-wrapper,
#achieve-text-wrapper {
    border-top: 10px solid rgb(255, 3, 255);

}

#problem-text-wrapper h1,
#guide-text-wrapper h1,
#plan-text-wrapper h1,
#achieve-text-wrapper h1

 {
    font-size: 2rem;
    padding: 0;

}

#guide-text-wrapper h2,
#plan-text-wrapper h2

 {
    font-size: 2rem;


}

#problem-text-wrapper p,
#guide-text-wrapper p,
#plan-text-wrapper p,
#achieve-text-wrapper p

 {
    padding: 10px;
    font-size: 20px;
}

#collage-image {
    width: 100%;
    padding: 10px;

}

.guide-video-container,
.achieve-container  {
display: inline;




}

.guide-video-container iframe {
    padding: 10px;
    width: 100%;
    border: none;
}

.plan-container {
display: inline;


}

#plan-text-wrapper h1 {
    font-size: 2rem;
    font-weight: 600;
}
#plan-text-wrapper h2
{
    font-size: 2em;
    font-weight: 500;

}

#plan-text-wrapper p {
    font-size: 1rem;
    font-weight: 400;
}

#af-text-wrapper h1{
    font-size: 3rem;
}

#af-text-wrapper {
    padding-bottom: 1rem;

}

#plan-cta {
    width: 95%;


}


}
