#ar-screen {
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;


}



#home-nav {
position: absolute;
top: 0;
right: 0;
padding: 10px;
width: 100%;
z-index: 1;
display: flex;
align-items: center;
justify-content: space-between;



}

#home-nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    z-index: 1;
    font-weight: 300;


}

.deepar-container {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    background-color: black;

}


#screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

}


#capture-btn {

    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 33, 62);
    border: 4px solid rgb(12, 12, 12);
    cursor: pointer;
    font-size:50px;
    text-align: center;
    color: rgb(255, 255, 255);


}

.ar-btn-wrapper {
    position: absolute;
    width: 5rem;
    height: 5rem;
    bottom: 10vh;
    right: 0;
    left: 0;
    margin: 0 auto;

}

#effect-dropdown {
    font-size: 5rem;
    color: white;
}

.effect-carousel {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 270px;
    height: 100vh;
    transition: all 0.4s ease;

}

.effect-side-container {
   text-align: center;

}

#effect-header {
    font-size: 1.25rem;

}
#effect-header h1 {
    font-weight: 200;
    color: rgb(255, 194, 250);
}

@media screen and (max-width: 768px) {
    #ar-screen {
        background-color: white;
        width: 100%;
        height: 100%;
        margin: 0 auto;


    }

    #effect-dropdown {
        font-size: 3rem;
    }

    #effect-header {
        font-size: 1rem;
        margin-top: 1rem;

    }

    .effect-carousel {
        width: fit-content;
        background: transparent;
    }
}
